* {
    margin:0;
    padding:0;
    background:transparent;
    font-size:100%;
    vertical-align:baseline;
    box-sizing:border-box;
}

a {
    display:block;
    transition:.2s all;
}

h3 {
    font-size:120%;
    margin-bottom:10px;
}

li {
    list-style-type:none;
}

html {
    height:100%;
}

body {
    background:linear-gradient(45deg,rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%);
    background-repeat:no-repeat;
    background-attachment:fixed;
    color:rgb(0,0,0);
    height:100%;
    font-family:Arial, Helvetica, sans-serif;
    filter:drop-shadow(0px 0px 1px rgba(0,0,0,.12));
}

main {
    max-width:1120px;
    margin:0 auto;
    padding:60px 20px;
}

header {
    margin:0 0 20px 0;
    display:flex;
    flex-flow:row wrap;
}

header > h1 {
    font-size:250%;
    flex:1;
}

nav {
    flex:1 220px;
    text-align:right;
}

nav li {
    display:inline-block;
}

nav li a {
    font-size:110%;
    text-decoration:none;
    color:rgb(100,100,100);
    padding:5px 20px;
}

nav li a:hover {
    color:rgb(0,0,0);
    box-shadow:0px 5px 5px -7px rgba(0,0,0,0.75);
    transform:translate(0px, -1px);
}

section {
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    margin-bottom:20px;
}

div > div {
    flex:1 200px;
    padding:20px;
    margin:0 10px 10px 10px;
    background:rgba(255,255,255,.015); 
    border-left:1px solid rgba(0,0,0,.05);
}

div > a {
    color:rgb(100,100,100);
    text-decoration:none;
    margin:1px;
    padding:10px;
    width:180px;
}

div > a:hover {
    background:rgb(255,255,255);
    color:rgb(0,0,0);
    box-shadow:0px 5px 5px -7px rgba(0,0,0,0.75);
    transform:translate(0px, -1px);
}

aside {
    flex:2 400px;
}

p {
    margin-left:10px;
    padding:20px 20px 10px 20px;
    border-left:1px solid rgba(0,0,0,.05);
}

ul {
    padding:20px;
}

footer ul {
    margin-left:10px;
    border-left:1px solid rgba(0,0,0,.05);
}

footer li {
    margin-bottom:10px;
}


footer ul li span {
    vertical-align:super;
    font-size:60%;
    font-style:italic;
}